<form class="authHolder"action="/auth/login" method="POST">
  <label class="authLabel" for="auth-email">Email</label>
  <input class="auth" id="auth-email" type="email" name="email">

  <label class="authLabel" for="auth-password">Password</label>
  <input class="auth" id="auth-password" type="password" name="password">

  <input class="submit" type="submit" value="Log In">
</form>
