<form class="authHolder" action="/auth/signup" method="POST">
  <label class="authLabel" for="new-email">Email</label>
  <input class="auth" id="new-email" type="email" name="email">

  <label class="authLabel" for="new-name">Name</label>
  <input class="auth" id="new-name" type="text" name="name">

  <label class="authLabel" for="new-password">Password</label>
  <input class="auth" id="new-password" type="password" name="password">

  <input class="submit" type="submit" value="Sign up">
</form>
