<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
    <title>DogSpot</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <h3 class="pageName">DogSpot</h3>
      <nav>
        <ul class="dogNavs">
          <li><a href="/">Find Doggos</a></li>
          <li><a href="/mydogs">My Dogs</a></li>
        </ul>
      </nav>
      <nav  class="navBar">
        <ul>
          <% if (currentUser) { %>
            <li><a href="/auth/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <h1 class="dogLove">Who doesn't love dogs? <br>Find your perfect dog today!</h1>
    <%- include ('./partials/alerts.ejs') %>
    <%- body %>
  </body>
</html>
