<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy: default-src 'self';font-src fonts.gstatic.com;style-src 'self' fonts.googleapis.com">
    <title>DogSpot</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Potta+One&display=swap" rel="stylesheet">
    <script src="./js/main.js" defer></script>
  </head>
  <body>
    <header id="myHeader">
      <h3 class="pageName">DogSpot</h3>
      <nav>
        <ul class="dogNavs">
          <li><a href="/">Find Doggos</a></li>
          <li><a href="/mydogs">My Dogs</a></li>
        </ul>
      </nav>
      <nav  class="navBar">
        <ul>
          <% if (currentUser) { %>
            <li><a href="/auth/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <%- include ('./partials/alerts.ejs') %>
    <div class="content">
      <%- body %>
    </div>  
    <div class="footer">
      <a class="imageLinks" href="https://www.linkedin.com/in/austin-tipograph-522209137/"><img class="socialsImg" src='/css/linkedin.png' alt="Linkedin"></a>
      <a class="imageLinks" href="https://github.com/austintip"><img class="socialsImg" src='/css/github.png' alt="GitHub"></a>
    </div>
  </body>
</html>
