<h2 class="myDogsHead">My Dogs</h2>

<h3 class="myDogsPage">Welcome to your "My Dogs" page, <%= currentUser ? currentUser.name : 'Hi'%>!</h3>

<br>

<div class="contentHolder">
    <div class="innerContainer">
        <div class="well">
            <% if (dog.length) { %>
                <% dog.forEach(dog => { %>
                    <li class="dogHouse"><%= dog.name %></li> 
                    <a href="../info/<%= dog.dogId %>" class="dogLinks">Click to Learn More!</a>
                    <form method="POST" action="/mydogs/<%= dog.id %>/?_method=DELETE">
                        <input class ="removeMyDogs" type="submit" value="Remove from My Dogs">
                    </form>
                    <% }) %>
            <% } else { %>
                <h2 class="noDogs">Select Dogs from the "Find Doggos" page to add them to your "My Dogs" page!</h2>
            <% } %>
        </div>
    </div>
</div>
